<div>
<!--  <h1>Staticpages#top</h1> -->
    <h1>ユーザーIDの確認フォーム</h1>
    <%= form_with(url: '/staticpages/get_user_id', method: :get, local: true) do |form| %>
        <p class="instruction">指定したユーザーの最新のツイートを5件取得して、一度にいいねを送ることができます<br>まずは、右上のログインボタンからTwitterアカウントでログイン</p>

        <p class="instruction">Twitterのユーザーネーム（@マーク以降の文字列）を入力してツイートを取得するボタンをクリック！<br>ツイートが取得できたら"まとめていいね"ボタンを押してね</p>
        <%= form.label :username, "Twitter Username" %>
        <%= form.text_field :username, class: 'input-border', placeholder: "  hisaju01"   %>
        <%= form.submit "ツイートを取得する", class: 'submit-button'  %>
    <% end %>
  <!-- ツイートの表示 -->
  <% if @tweets.present? %>
    <h2 class="li-margin-top">このユーザーの最新の5件のツイート</h2>
    <ul class="tweet-lines">
      <% @tweets.each do |tweet| %>
        <li><%= tweet["text"] %><br>
          <% tweet_obj = Tweet.find_by(twitter_tweet_id: tweet["twitter_tweet_id"]) %>
          <!--tweet_objにデータが存在する場合-->
          <% if tweet_obj.present? %>
            <% if current_user.present? %>
              <% if @liked_tweet_ids.include?(tweet["twitter_tweet_id"]) %>
                <span>いいね済み</span>
              <% else %>
                <%= button_to 'いいね', like_tweet_path(tweet_id: tweet_obj.twitter_tweet_id), method: :post %>
              <% end %>
            <% end %>
          <% else %>
            <p>このツイートはまだ保存されていません。</p>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if current_user.present? && @tweet_ids.present? %>
      <%= form_with(url: like_multiple_tweets_path, method: :post, local: true) do |form| %>
        <%= form.hidden_field :tweet_ids, value: @tweet_ids.join(' ')%>
        <%= form.submit "まとめていいね", class: 'submit-button' %>
      <% end %>
    <% end %>
  <% end %>
</div>