<!-- http://localhost:3000/twitter/get_user_id -->

<!-- app/views/twitter/get_user_id.html.erb -->

<!--
<!DOCTYPE html>
<html>
<head>
  <title>Get User ID</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <h1>Get User ID</h1>
  <%= form_with(url: '/twitter/get_user_id', method: :get, local: true) do |form| %>
    <%= form.label :username, "Twitter Username" %>
    <%= form.text_field :username %>
    <%= form.submit "Get User ID" %>
  <% end %>
</body>
</html>
-->